option_settings:
  aws:elasticbeanstalk:customoption:
    NewSignupEmail: me@example.com
  aws:elasticbeanstalk:application:environment:
    THEME: "flatly"
    APP_PROFILE: "PROD"
    AWS_REGION: '`{"Ref" : "AWS::Region"}`'
    USERS_TABLE: '`{"Ref" : "UsersTable"}`'
    NEW_SIGNUP_TOPIC: '`{"Ref" : "NewSignupTopic"}`'
  aws:elasticbeanstalk:container:nodejs:
    ProxyServer: nginx
