@import 'react-md/src/scss/react-md';

// Any variable overrides. The following just changes the default theme to use teal and purple.

$md-primary-color: $md-teal-500;
$md-secondary-color: $md-red-500 !default;
$font-weight: 800;
$md-font-name: Noto !default;

// TABS

@mixin react-md-tabs($secondary-color: $md-secondary-color, $include-media: $md-media-included, $include-icons: $md-tab-include-icons, $include-toolbars: $md-tab-include-toolbars, $include-prominent-toolbars: $md-tab-include-prominent-toolbars, $include-pagination-overflow: $md-tab-include-pagination-overflow, $include-menu-overflow: $md-tab-include-menu-overflow, $include-swipeable: $md-tab-include-swipeable, $include-dense-icons: $md-font-icon-include-dense) {
  .md-tabs {
    @extend %md-list-unstyled;

    display: flex;
    position: relative;

    &.md-background--primary {
      .md-ink {
        background: rgba($md-white-base, .12);
      }
    }

    &--centered {
      justify-content: center;

      .md-tab {
        flex-grow: 0;
      }
    }

    @if $include-pagination-overflow {
      &--pagination {
        .md-tab {
          flex-grow: 0;
        }
      }
    }
  }

  @include react-md-tabs-tab($include-icons);
  @include react-md-tabs-indicator($secondary-color);
  @include react-md-tabs-overflow($include-pagination-overflow, $include-menu-overflow);

  @if $include-icons {
    @include react-md-tabs-icon;
  }

  @if $include-toolbars {
    @include react-md-tabbed-toolbars;
  }

  @if $include-swipeable {
    @include react-md-tabs-swipeable;
  }

  @include react-md-tabs-content(
    $md-toolbar-height,
    if($include-prominent-toolbars, $md-toolbar-prominent-height, null),
    $include-icons,
    $include-toolbars,
    $include-swipeable
  );

  @if $include-media {
    @include react-md-tabs-media($include-icons, $include-toolbars, $include-prominent-toolbars, $include-swipeable, $include-dense-icons);
  }
}

@mixin react-md-tabs-tab($include-icons: $md-tab-include-icons) {
    .md-tab {
      align-items: center;
      color: inherit;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      height: $md-tab-height;
      justify-content: flex-end;
      overflow: hidden;
      padding-bottom: $md-tab-single-line-padding-bottom;
      padding-left: $md-tab-padding;
      padding-right: $md-tab-padding;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;

      .md-tab-label {
        font-size: 16px !important;
      }
  
      &--multiline {
        font-size: $md-tab-multiline-font-size;
        padding-bottom: $md-tab-padding;
      }
  
      @if $include-icons {
        &--icon {
          height: $md-tab-icon-height;
          padding-bottom: $md-tab-icon-padding-bottom;
        }
      }
  
      &--inactive {
        color: $md-primary-color;
      }
    }
  }

  // BUTTONS

  @mixin react-md-text-fields($primary-color: $md-primary-color, $light-theme: $md-light-theme, $error-color: $md-red-500, $include-media: $md-media-included, $include-multiline: $md-text-field-include-multiline, $include-floating-label: $md-text-field-include-floating-label, $include-block: $md-text-field-include-block, $include-icon: $md-text-field-include-icon, $include-message: $md-text-field-include-message, $include-password: $md-text-field-include-password, $include-inline-indicator: $md-text-field-include-inline-indicator, $include-dense-icons: $md-font-icon-include-dense, $custom-sizes: $md-text-field-custom-sizes) {
    @include react-md-text-field-container($light-theme, $include-multiline, $include-block, $include-message);
    @include react-md-text-field($light-theme, $include-multiline);
    @include react-md-text-field-divider($primary-color, $error-color);
  
    @if $include-floating-label {
      @include react-md-text-field-floating-label($primary-color, $light-theme, $error-color);
    }
  
    @if $include-message {
      @include react-md-text-field-message($light-theme, $error-color, $include-icon);
    }
  
    @if $include-password or $include-icon {
      @include react-md-text-field-icon($primary-color, $light-theme, $error-color);
    }
  
    @if $include-password or $include-inline-indicator {
      @include react-md-text-field-inline-indicator;
    }
  
    @if $include-password {
      @include react-md-text-field-password($light-theme);
    }
  
    @if $include-media {
      @include react-md-text-fields-media($include-floating-label, $include-block, $include-icon, $include-message, $include-password, $include-dense-icons, $custom-sizes);
    }

    .md-cell {
      width: 100%,
    }
    
    @include react-md-text-field-custom-sizes($md-text-field-custom-sizes, $include-floating-label);
  }
  
  