@import 'react-md/src/scss/react-md';

// Any variable overrides. The following just changes the default theme to use teal and purple.

$md-primary-color: $md-teal-500;
$md-secondary-color: $md-pink-a-200 !default;
$font-weight: 800;

@mixin host-google-font($font-name: Roboto, $font-weight: 400, $fonts-url) {
    $full-font-name: str-replace($font-name, ' ') + get-font-suffix($font-weight);
  
    $fonts-url: if($fonts-url == null, '/fonts/' + to-lower-case(str-replace($font-name, ' ', '-')), $fonts-url);
    $fonts-url: if(char-at($fonts-url) != '/', $fonts-url + '/', $fonts-url);
  
    @font-face {
      font-family: quote($font-name);
      font-style: normal;
      font-weight: $font-weight;
  
      src: local(#{quote($font-name)}), local(#{quote($full-font-name)}), url($fonts-url + $full-font-name + '.ttf') format('truetype');
    }
  }

@mixin react-md-tabs-tab($include-icons: $md-tab-include-icons) {
    .md-tab {
      align-items: center;
      color: inherit;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      flex-shrink: 0;
      height: $md-tab-height;
      justify-content: flex-end;
      overflow: hidden;
      padding-bottom: $md-tab-single-line-padding-bottom;
      padding-left: $md-tab-padding;
      padding-right: $md-tab-padding;
      position: relative;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
  
      &--multiline {
        font-size: $md-tab-multiline-font-size;
        padding-bottom: $md-tab-padding;
      }
  
      @if $include-icons {
        &--icon {
          height: $md-tab-icon-height;
          padding-bottom: $md-tab-icon-padding-bottom;
        }
      }
  
      &--inactive {
        color: $md-primary-color;
      }
    }
  }
  